<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/about">About</ion-button>
      <ion-button routerLink="/contact">Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    <h1>Welcome to Our App</h1>
    <p>Experience seamless integration with our powerful features.</p>
    <ion-button expand="full" color="dangerous" href="https://www.voicefordeafkids.com/" target="_blank">
      Visit Website
    </ion-button>
  </div>
</ion-content>A

<style>
  .home-container {
    text-align: center;
    padding: 2rem;
  }
</style>
