<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Hello World</h2>
    <a href="https://www.voicefordeafkids.com/" target="_blank">
      <ion-button expand="full">
        Go to Voice Website
      </ion-button>
    </a>
  </div>
</ion-content>
